@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.animate-slideDown {
  animation: slideDown 0.5s cubic-bezier(.32,2,.55,.27);
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 0;
  overflow-x: hidden;
}
